
table{
  background-color: rgb(238, 223, 15);
}
button{
  background-color: red;
  border-radius: 20px;
}
button :hover{
  color: black;}
p{
  color: black;
  font-weight: bolder;
}
tr{
  color: green;
  font-weight: 600;
}
tr :hover{
  color: black;
  border: 2px solid Red;
}
th{
  color: black;
}
img{
  border: 2px solid white;
  border-radius: 1000px;
}
nav{
  background-color: red;
}
nav h1{
  text-align: center;
}